// text colours
$c-text: #333;
$c-headings: #555;
	// links
	$c-link: #2196f3;
	$c-link-visited: #3f51b5;

// basic colours
$c-bg: #fff;
$c-border: #ccc;

// header colours
$c-header-bg: $c-bg;
$c-header-border: $c-border;

// footer colours
$c-footer-bg: #ddd;
$c-footer-border: $c-border;