// reset basic elements
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	+ * {
		margin-top: 1em;
	}
}

// HTML5 elements reset
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}